{% extends "base.html" %}

{% load static from staticfiles %}

{% block content %}
    <h1>Select your data</h1>
    <h2>Select the required information</h2>

    <form method="POST" action=".">{% csrf_token %}
        {{formset.non_form_errors}}
        {{formset.management_form}}

        <div class="form-list">
            {% for form in formset %}
                <div class="column-form">
                    {{form.as_p}}
                </div>
            {% endfor %}
        </div>

        <div class="action-container clearfix">
            <div class="btn btn-success add-property-row">Add more data</div>
            <input type="submit" value="Save" class="btn btn-default pull-right" />
        </div>


    </form>

{% endblock %}

{% block js %}
    <script src="{% static "anonymizer/js/columns.js" %}"></script>
{% endblock %}