{% extends "base.html" %}

{% load static from staticfiles %}

{% block content %}
    <h1>{{configuration.name}} - Test console</h1>

    <textarea id="test-console" spellcheck="false">Type help to see commands&#13;&#10;$</textarea>
    <a href="/team-ideation-tools/anonymizer/" class="btn btn-default">Back</a>
{% endblock %}

{% block js %}
    <script src="{% static "anonymizer/js/console.js" %}"></script>
    <script>
        $(function() {
            ConfigurationConsole.start({{configuration.id}});
        });
    </script>
{% endblock %}