            <article class="project add-item add-persona-create col-md-4 col-xs-12" style="
    height: 276px;
    /* background: #411f48; */
">
                <a href="/team-ideation-tools/persona-builder/personas/create/" alt="create new persona">
                    <div class="background" style="
    background: #411f48;
">
                        <div class="vertical-align">
                            <div class="middle">
                                <div class="add-project-button">
                                    <div class="vertical-align">
                                        <div class="middle">
                                            <i class="fa fa-2x fa-pencil" style="color: whitesmoke;"></i>
                                        </div>
                                    </div>
                                </div>
                                <h2 class="header-small secondary">Create a new persona</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </article>