            <article class="persona create-new-persona add-item col-md-6" style="
    height: 276px;
    /* background: #411f48; */
">
                <a data-toggle="modal" data-target=".persona-popup">
                    <div class="background">
                        <div class="vertical-align">
                            <div class="middle">
                                <div class="add-project-button">
                                    <div class="vertical-align">
                                        <div class="middle">
                                            <i class="icon icon-plus"></i>
                                        </div>
                                    </div>
                                </div>
                                <h2 class="header-small secondary">Create new persona</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </article>

            <div class="persona-popup modal fade" role="dialog" style="display: none;">
                <div class="modal-dialog medium">
                    <div class="block block-fill">
                        <header class="modal-header">
                            <div class="vertical-align">
                                <div class="middle">
                                    <i class="icon icon-user"></i>
                                    <h2 class="header-medium secondary">Create a new persona</h2>
                                </div>
                                <div class="close" data-dismiss="modal">
                                    <i class="icon icon-close"></i>
                                </div>
                            </div>
                        </header>

                        <div class="modal-body" style="height: auto;">



                        </div>
                    </div>
                </div>
            </div>