{% extends "base.html" %}

{% block section_class %}not-container{% endblock %}
{% block content %}
        {% with page="delete" %}
            {% include "persona_builder/persona/intro.html" %}
        {% endwith %}

        <form method="POST" action=".">{% csrf_token %}
            <p>Are you sure you want to delete {{persona.name}}? This action can not be undone.</p>

            <a class="btn btn-default" href="/persona-builder/personas/">Cancel</a>
            <input type="submit" class="btn btn-danger" value="Delete" />
        </form>
    </section>
{% endblock %}