{% extends "base.html" %}

{% block section_class %}not-container{% endblock %}
{% block content %}
        {% with page="delete" %}
            {% include "persona_builder/persona/intro.html" %}
        {% endwith %}

        <form method="POST" action=".">{% csrf_token %}
            <p>Are you sure you want to delete {{persona.name}}? This action can not be undone.</p>

            <div class="row">
                <div class="col-md-3">
                    <a class="btn" href="/team-ideation-tools/personas/">Cancel</a>
                </div>
                <div class="col-md-3">
                </div>
                <div class="col-md-2">
                    <input type="submit" class="btn btn-danger" value="Delete" />
                </div>
            </div>


        </form>
    </section>
{% endblock %}