{% extends "base.html" %}

{% load endless %}
{% load static from staticfiles %}
{% load app_filters %}
{% block section_class %}not-container{% endblock %}

{% block content %}
        {% with page="view" %}
            {% include "persona_builder/persona/intro.html" %}
        {% endwith %}

            <p></p>
            <h3 class="header-extra-small">Description</h3>
            <p>
                {% if persona.description %}
                    {{ persona.description }}
                {% else %}
                    No persona description
                {% endif %}
            </p>

            <div class="clearfix">
                <em>{{ persona|count_users }} users matching this profile:</em>
                <form action="{{ persona.get_absolute_url }}update-users/" method="POST" class="pull-right">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-refresh" value="Refresh users" />
                </form>
            </div>
            {% paginate users %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            {% for property in properties %}
                                <th>{{property.label}}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr>
                                {% for property in properties %}
                                    {% if not property.is_pk %}
                                        {% with p_key=property.name %}
                                            {% with value=user|get_property:p_key %}
                                                <td>{{value|distinct|pretty_print|linebreaks}}</td>
                                            {% endwith %}
                                        {% endwith %}
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% show_pages %}
        </div>
    </section>
{% endblock %}