    {% load app_filters %}
    <ul class="menu-subpage">
        <li id="link-to-subpage-1" class="link-to-subpage{% if page == 'edit-info' %} active{% endif %}">Basic information</li>
        <li id="link-to-subpage-2" class="link-to-subpage{% if page == 'edit-properties' %} active{% endif %}{% if not persona %} disabled{% endif %}">Properties</li>
        <li id="link-to-subpage-3" class="link-to-subpage{% if page == 'stats' %} active{% endif %}{% if not persona or not persona.is_ready %} disabled{% endif %}">Persona overview</li>
    </ul>

    {% with active=page|eq:'edit-info' %}
        {% with form=info_form %}
            {% include 'persona_builder/persona/edit_info.html' %}
        {% endwith %}
    {% endwith %}

    {% if persona %}
        {% with active=page|eq:'edit-properties' %}
            {% with form=property_form %}
                {% include 'persona_builder/persona/edit_properties.html' %}
            {% endwith %}
        {% endwith %}
    {% endif %}

    {% if persona and persona.is_ready %}
        {% with active=page|eq:'stats' %}
            {% include 'persona_builder/persona/stats.html' %}
        {% endwith %}
    {% endif %}
