
    <section id="subpage-1" class="subpage{% if active %} active{% endif %}">
        <form method="POST" action="/team-ideation-tools/personas/{% if persona %}{{ persona.pk }}/edit-info/{% else %}create/{% endif %}" enctype="multipart/form-data" class="dropzone">{% csrf_token %}
            <div class="col-md-6">

                <fieldset class="form-group fieldset-upload">

                    <div class="input-container file-upload-image-container {% if persona.avatar %}has-value{% endif %}" {% if persona.avatar %}style="background-image: url({{ persona.get_avatar_url }});"{% endif %}>
                        <label class="file-upload-image" for="file-upload">
                            <div class="vertical-align">
                                <div class="middle">
                                    <div class="add-image-button">
                                        <i class="icon {% if persona.avatar %}icon-plus{% else %}icon-edit{% endif %}"></i>
                                    </div>
                                    <p class="meta big">{% if persona.avatar %}Change{% else %}Add{% endif %} picture</p>
                                </div>
                            </div>
                        </label>
                        <input type="file" id="file-upload" accept="image/*" name="avatar">
                    </div>
                </fieldset>

            </div>
            <div class="col-md-6">

                <fieldset>
                    <label for="add-persona-name" class="header-medium secondary">Name</label>

                    <div class="input-container">
                        <input type="text" id="add-persona-name" placeholder="Persona name" required="required" name="name" value="{{ persona.name }}">
                    </div>
                </fieldset>

                <fieldset class="form-group fieldset-radio">
                    <label for="privacy-settings" class="header-medium secondary">Persona profile settings</label>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-container">
                                <label for="import-url">
                                    <input type="checkbox" name="is_public" id="import-url" style="display: none"
                                            {% if persona.is_public %} checked="checked"{% endif %}>
                                    <span></span>Public persona
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <label for="tags-persona" class="header-medium secondary">Description</label>

                    <div class="input-container">
                        <input type="text" id="tags-persona" placeholder="Persona description" name="description" value="{{ persona.description }}">
                    </div>
                </fieldset>
            </div>

            <div class="col-md-12">
                <fieldset class="form-group form-submit">
                    <a href="#nowhere" data-dismiss="modal" class="btn-transparent" alt="cancel">Cancel</a>
                    <button type="submit" class="btn confirm-button" {% if not persona %}data-loading_text="Creating"{% endif %}>{% if persona %}Save{% else %}Create{% endif %}</button>
                </fieldset>
            </div>
        </form>
    </section>

