{% extends "base.html" %}

{% load static from staticfiles %}

{% block section_class %}not-container{% endblock %}
{% block content %}
        {% with page="edit" %}
            {% include "persona_builder/persona/intro.html" %}
        {% endwith %}


        <form class="persona-filters-form" method="POST" action=".">{% csrf_token %}

            {{ form.non_field_errors}}
            {{ form.query.errors }}
            <div class="query-box">
                {{ form.query }}
            </div>

            {% for filter in filters %}
                {% if filter.has_options %}
                    {% include "persona_builder/persona/filter.html" %}
                {% endif %}
            {% endfor %}


            <input class="btn btn-primary pull-right" type="submit" value="Save persona" />
        </form>
    </section>
{% endblock %}

{% block js %}
    <script src="{% static "js/chosen.jquery.min.js" %}"></script>
    <script src="{% static "persona_builder/js/edit_properties.js" %}"></script>
{% endblock %}