{% extends "base.html" %}

{% load static from staticfiles %}
{% load app_filters %}

{% block content %}
    <div class="clearfix">
        <h1 class="pull-left">CloudTeams Persona Pool</h1>
        <a href="/persona-builder/personas/create/" class="btn btn-transparent pull-right">+ Create new persona</a>
    </div>

    {% for persona in personas %}
        {% with more_link=True %}
            {% include "persona_builder/persona/teaser.html" %}
        {% endwith %}
    {% empty %}
        <p>No personas found.</p>
    {% endfor %}


{% endblock %}