
    <p>You can click on a persona from below to use in your campaign as they are. You can also customize it to match your customer segments.</p>

    {% if personas %}
        <div id="persona-pool-list" class="row" data-csrfmiddlewaretoken="{{ csrf_token }}">
            <div id="persona-pool-search-container">
                <i class="fa fa-search"></i>
                <input id="persona-pool-search" type="text" placeholder="Search for public personas" class="col-sm-12" />
            </div>

            <div id="persona-pool-list-content" class="col-sm-12" >
                <div class="row">
                    {% for persona in personas %}
                        {% include "persona_builder/persona/teaser-sm.html" %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        <p>No personas found.</p>
    {% endif %}
