{% extends "base.html" %}

{% load static from staticfiles %}
{% load app_filters %}

{% block content %}
    <h1>Persona Pool</h1>
    <p>You can use personas from below to use them in your campaign as they are or to further customize them to match your customer segments.</p>

    {% for persona in personas %}
        {% with add_link=True add_edit_link=True %}
            {% include "persona_builder/persona/teaser.html" %}
        {% endwith %}
    {% empty %}
        <p>No personas found.</p>
    {% endfor %}


{% endblock %}