    {% load app_filters %}

    <section id="subpage-3" class="subpage{% if active %} active{% endif %}">
        <div class="row">
            <div class="col-xs-12">
                <i class="icon icon-invite"></i> This persona matches <b>{{ persona.persona_users.all.count }}</b> customers.
            </div>
        </div>

        <div class="row">
            {% with overview_values=persona.get_overview_values %}
                {% for property,values in overview_values.items %}
                        <div class="col-md-2 persona-property-column">
                            <div class="vertical-align">
                                <div class="middle">
                                    <strong>{{ property|title|no_underscore  }}</strong>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="row percentage-wrapper">
                                {% with total=values|get_total %}
                                    {% for vo in values %}
                                        {% with v=vo.0 o=vo.1 %}
                                            {% with cnt=forloop.counter perc=o|get_percentage:total bar_perc=o|get_percentage_for_chart:total vtitle=v|no_underscore %}
                                                <div style="width: {{ bar_perc }}%" class="persona-percentage-block">
                                                    <div class="persona-percentage-item item-{{ cnt }}"></div>
                                                    <div class="persona-percentage-context">{{ vtitle }}</div>
                                                    <div class="persona-block-popup item-{{ cnt }}">{{ vtitle }} : {{ perc }}% ({{ o }})</div>
                                                </div>
                                            {% endwith %}
                                        {% endwith %}
                                    {% endfor %}
                                {% endwith %}
                            </div>
                        </div>
                {% endfor %}
            {% endwith %}

            {% comment %}
                <div class="col-xs-6 persona-download" style="margin-top: 20px;">
                    <a href="{{ persona.get_absolute_url }}download/" target="blank" class="pull-left"><i class="icon icon-download"></i>Download the detailed users profiles file</a>
                </div>
            {% endcomment %}

            <div class="col-xs-6" style="margin-top: 20px">
                <i class="icon icon-check"></i> This persona is now ready to use
                {% if persona.campaign_id %}
                    <a href="{{ tp_url }}{{ request.session.dashboard_id }}?op=cloudteams.getstdb&action=cloudteams.getcampaign&object={{ persona.campaign_id }}&section=personas"
                       class="btn btn-primary" style="margin-top: 20px;">
                        <i class="icon icon-campaign"></i> Continue with campaign
                    </a>
                {% endif %}
            </div>

            </div>
        </div>
    </section>
