{% load staticfiles %}

<article class="campaign campaign-poll public-campaign block-line-half col-md-6">
	<div class="background">
		{% if persona.avatar %}
        	<div class="background-image" style="background-image: url({{ persona.get_avatar_url }});">
        	</div>
		{% endif %}
		<header class="article-header">
			<h3 class="header-medium secondary">{{ persona.name }}</h3>
			<p class="highlight bold">{% if persona.is_public %}Public{% else %}Private{% endif %} persona</p>

			<div class="tooltip-container">
				<a href="#nowhere" class="open-tooltip-button"><i class="icon icon-more-options"></i></a>
				<div class="custom-tooltip">
					<ul>
						<li>
							<a href="{{ persona.get_absolute_url }}" class="pb-open">Open</a>
                        </li>
                        <li>
                            <a href="{{ persona.get_edit_info_url }}" class="pb-open">Edit</a>
						</li>
                        <li>
                            <form method="POST" action="{{ persona.get_absolute_url }}delete/">{% csrf_token %}
                                <a href="#" class="pb-open"
                                    data-action_before="Delete" data-action_during="Deleting"
                                    data-confirmation="Are you sure you want to delete this persona?" data-submit="true">Delete</a>
                                <input type="submit" class="hidden" />
                            </form>
						</li>
					</ul>
				</div>
			</div>
		</header>

		<div class="content data">
			{% if persona.description %}
                {{ persona.description }}
            {% else %}
                No persona description
            {% endif %}
		</div>

		<footer>
			{% if more_link %}
                {% if persona.is_ready %}
            	    <a href="{{ persona.get_absolute_url }}" class="btn pb-open">Show persona</a>
                {% else %}
                    <a href="{{ persona.get_edit_properties_url }}" class="btn pb-open">Complete persona</a>
                {% endif %}
			{% endif %}
			{% if add_link %}
				<li>
					<a href="{{ persona.get_clone_url }}">Clone</a>
				</li>
			{% endif %}
			{% if add_edit_link %}
				<li>
					<a href="{{ persona.get_clone_edit_url }}">Clone & edit</a>
				</li>
			{% endif %}
		</footer>
	</div>
</article>