            {% load endless %}
            {% load app_filters %}

            <div class="clearfix">
                <em>{{ persona|count_users }} users matching this profile:</em>
                <form action="{{ persona.get_absolute_url }}update-users/" method="POST" class="pull-right">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-refresh" value="Refresh users" />
                </form>
            </div>

            {% paginate users %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            {% for property in properties %}
                                <th>{{property.label}}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for pu in users %}
                            {% with user=pu|get_user_info %}
                                <tr>
                                    {% for property in properties %}
                                        {% if not property.is_pk %}
                                            {% with p_key=property.name %}
                                                {% with value=user|get_property:p_key %}
                                                    <td>{{value|distinct|pretty_print|linebreaks}}</td>
                                                {% endwith %}
                                            {% endwith %}
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endwith %}
                        {% endfor %}
                    </tbody>
                </table>
            <div class="pagination">
                {% show_pages %}
            </div>