sudo: false
language: python
python:
 - "2.7"
env:
  - DJANGO="Django==1.8"
before_install:
  - mysql -uroot < test-data/test_site.sql 
  - psql -c 'create database test_database;' -U postgres; psql test_database < test-data/test_site_pg.sql 
  - 
install:
 - pip install -r requirements.txt
 - pip install coverage
 - pip install mysql-connector-python --allow-external mysql-connector-python
branches:
 only:
  - master
before_script:
  - python manage.py makemigrations
  - python manage.py migrate
script: coverage run --source=. manage.py test
after_success:
  - coverage report
  - pip install --quiet python-coveralls
  - coveralls