<div class="col-xs-12 text-center">

    {% if persona.avatar %}
        <div class="background-image persona-avatar" style="background-image: url({{ persona.get_avatar_url }});">
        </div>
    {% endif %}

    <p><a href="{{ persona.get_absolute_url }}">{{ persona.name }}</a><br />
    {% for p in persona.properties %}
        # {{ p.field|title }}
        {% for v in p.values %}{% if forloop.counter > 1 %}, {% endif %}<b>{{ v }}</b>{% endfor %}
        <br />
    {% endfor %}
    </p>
</div>