.configuration-teaser .content {
    padding-left: 40px
}

.activation-form {
    display: inline-block
}

.activation-form input[type="submit"] {
    padding: 0;
    border: 0;
    color: #7d3c8c;
}

input, select {
    color: #999;
}

select option {
    color: #777;
}

/*.switch-button-label.on,
.switch-button-label.off {
    color: #333;
} */

.activation-form input[type="submit"],
.already-active {
    padding: 0 5px;
}

.activation-form input[type="submit"]:hover {
    background: #fff;
}