/* Basic Layout */

h1 {
    margin: 20px;
}

#business-model-canvas {
    color: #333;
    z-index: 2;
    left: 20px;
    top: 90px;
    position: absolute;
    width: calc(100vw - 600px);
    background: whitesmoke;
}

#business-model-canvas > .row > .sidebar {
    height: 750px;
    background: #411f48;
    color: whitesmoke;
}

#business-model-canvas > .row > .content {
    padding-left: 0;
}

#bmc-clearfix {
    padding-bottom: 750px;
}

/* Sidebar */

.sidebar h5 {
    display: inline-block;
    vertical-align: top;
    margin-top: 12px;
}

.sidebar svg {
    width: 40px;
    margin-top: 0;
    display: inline-block;
}

.sidebar ul.projects > li:not(.active) {
    padding-left: 26px;
}

.sidebar ul.projects > li i.fa {
    margin-right: 10px;
}

.sidebar ul.projects > li.active a {
    color: whitesmoke;
}

.sidebar #autocomplete-suggestions {
    margin-top: 20px;
}

/* Regions */

.block-section {
    padding: 5px 10px;
    border: 1px dashed #333;
    background: white;
    height: 250px;
    overflow-y: auto;
    position: relative;
}

.block-section-double {
    height: 500px;
}

.block-section h3 {
    font-size: 14px;
    color: #333;
}

#business-model-canvas .col-md-10.content > .row > .col-sm-2,
#business-model-canvas .col-md-10.content > .row > .col-sm-3,
#business-model-canvas .col-md-10.content > .row > .col-sm-6 {
    padding: 0;
}

/* Scrollbar */
.ps-scrollbar-y-rail

/* Entries */
.entry {
    border-top: 1px solid #eee;
    padding-top: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-right: 5px;
}

.entry:first-of-type {
    border-top: none;
}

.entry .header {
    font-size: 10px;
    color: #777;
}

.entry .content,
.entry .content p {
    font-size: 12px;
}

.entry .content code {
    color: #333;
}

.entry .content .text {
    width: calc(100% - 35px)
}

.entry .actions {
    visibility: hidden;
    color: #777;
}

.entry .actions i {
    cursor: pointer;
}

.entry .actions i.edit-entry {
    margin-right: 10px;
}

.entry:hover .actions {
    visibility: visible;
}

.entry.editing .actions {
    display: none;
}
.entry.editing .content .text {
    width: 100%;
}


.entry .update-entry,
.entry .cancel-update-entry {
    cursor: pointer;
}

.entry.ui-sortable-helper {
    background: whitesmoke;
}

.entry .rendered-output {
    cursor: move;
}

.entry .rendered-output a,
.entry .rendered-output a:hover {
    color: #5B97DE !important;
}

/* New entry form */

.block-section .new-entry {
    display: none;
    padding-top: 20px;
}

.new-entry-template {
    display: none;
}
.block-section:hover .new-entry,
.new-entry.active {
    display: block;
}

.block-section.editing .new-entry {
    display: none;
}

.block-section .new-entry .add-entry {
    color: #777;
    cursor: pointer;
    font-size: 12px;
    border: 1px solid #ccc;
    padding: 1px 5px;
    border-radius: 5px;
    transition: color .3s ease-in-out;
    transition: background .3s ease-in-out;
    transition: border .3s ease-in-out;
}

.block-section .new-entry .add-entry:hover {
    color: white;
    background: #7d3c8c;
    border: 1px solid #7d3c8c;
}

#business-model-canvas .CodeMirror,
#business-model-canvas .CodeMirror-scroll {
    min-height: 50px;
}

#business-model-canvas .CodeMirror {
    padding: 2px;
    font-size: 12px;
    margin-bottom: 5px;
}

/* Color picker */

.colorpicker {
    color: #333;
    font-size: 12px;
    margin-right: 10px;
}

.colorpicker .colorPicker-picker {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-top: 3px;
}

.colorpicker label {
    margin-left: 2px;
    vertical-align: top;
}

div.colorPicker-palette {
    width: 105px;
    border: 1px solid #CCC;
}

.colorPicker-palette div.colorPicker_hexWrap {
    display: none;
}

.entry .clr-container {
    width: 10px;
    height: 10px;
    border: 1px solid #aaa;
    margin: 2px 0 2px 5px;
    padding: 1px;
    position: relative;
}

.entry .clr-val {
    display: inline-block;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    position: absolute;
}
