{% extends "base.html" %}

{% load endless %}
{% load static from staticfiles %}

{% load bm_filters %}

{% block title %}{{ project.project_name }} - Create a scenario{% endblock %}
{% block section_class %}page-developer-dashboard-project-requirements{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "stories/css/style.css" %}">
    <link rel="stylesheet" href="{% static "persona_builder/css/style.css" %}">
{% endblock %}

{% block content %}
    <header class="main-header">
        <div class="vertical-align">
            <div class="middle">
                <i class="icon icon-requirement"></i>
                <h1 class="header-large">Requirements</h1>
            </div>

            <div class="middle last">
                <p class="project-counter">{{ project.project_name }}</p>
            </div>
        </div>
    </header>

    <form class="row panel"
          action="{{ project.get_absolute_url }}add-scenario/" method="POST">{% csrf_token %}
        <article class="block-line large">
            <header class="article-header">
                <div class="vertical-align">
                    <div class="middle">
                        <h2 class="header-medium secondary"><i class="icon icon-profile"></i>
                            Create a new scenario
                        </h2>
                    </div>
                </div>
            </header>

            <div class="content form-section">
                {{ form.as_p }}

                <hr>

                <fieldset class="form-group form-submit">
                    <a href="{{ project.get_absolute_url }}" class="btn-transparent" alt="cancel">Cancel</a>
                    <button type="submit" class="btn confirm-button pull-right">Create &amp; add stories</button>
                </fieldset>

            </div>
	    </article>
    </form>
{% endblock %}