{% extends "base.html" %}

{% load endless %}
{% load static from staticfiles %}

{% load bm_filters %}

{% block title %}{{ project.project_name }} - Scenario information{% endblock %}
{% block section_class %}bg-white{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "stories/css/style.css" %}">
    <link rel="stylesheet" href="{% static "persona_builder/css/style.css" %}">
{% endblock %}

{% block content %}
    <div class="clerfix">
        <h1 class="pull-left">Scenario information - Scenario # {{ scenario.project_scenario_id }}</h1>
        <a href="{{ scenario.get_abolute_url }}edit/" class="btn btn-transparent btn-sm pull-right">Edit scenario</a>
    </div>

    <div class="row">
        <div class="panel bg-white col-xs-12">
            <div class="col-md-3">
                <h5>Info</h5>
                <p><span class="underline">Created:</span><br />
                    <span class="number">{{ scenario.created }}</span></p>
                <p><span class="underline">Last edited:</span><br />
                    <span class="number">{{ scenario.updated }}</span></p>
                <p><span class="underline">Owner:</span><br />
                    <span class="number">{{ scenario.owner }}</span></p>

                {% with personas=scenario.involved_personas %}
                    <h5 class="margin-top-5">Involved personas ({{ personas|length }})</h5>
                    <div class="row">
                        {% for persona in personas %}
                            <div class="col-xs-6 text-center">
                                {% include 'util/persona-xs.html' %}
                            </div>
                        {% empty %}
                            <div class="col-xs-12">
                                No personas involved
                            </div>
                        {% endfor %}
                    </div>
                {% endwith %}
            </div>

            <div class="col-md-6 scenario-main-col">
                <div class="row">
                    <div class="col-xs-3">
                        <b>ID</b>: #{{ scenario.project_scenario_id }}
                    </div>

                    <div class="col-xs-9">
                        <b>Title</b>: {{ scenario.title }}
                    </div>
                </div>

                <div class="row margin-top-5">
                    <div class="col-xs-12">
                        <p><b>Scenario</b><br />
                        {{ scenario.description|linebreaksbr }}</p>
                    </div>
                </div>

                <div class="row margin-top-5">
                    <div class="col-xs-12">
                        <p><b>Tags</b><br />
                        {{ scenario.tags }}</p>
                    </div>
                </div>

                <div class="row margin-top-5">
                    <div class="col-xs-12">
                        <p><b>Comments</b><br />
                        {{ scenario.comments|linebreaksbr|default:"No comments available" }}</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="row">
                    <div class="col-xs-12">
                        <h5>Related User Stories ({{ scenario.stories.count }})</h5>
                        <p>
                            {% for story in scenario.get_all_stories %}
                                <a href="{{ story.get_absolute_url }}">#{{ story.project_story_id }} - {{ story.title }} ({{ story.get_story_type_display }})</a><br/>
                            {% empty %}
                                No stories yet in this scenario.<br />
                                Start by <a href="{{ scenario.get_create_story_url }}">creating a story</a>.
                            {% endfor %}
                        </p>

                        <div class="pull-right">
                            <a href="{{ scenario.get_create_story_url }}">Create</a>
                            <span class="separator"> | </span>
                            <a href="#" class="add-existing-story" data-scenario_id="{{ scenario.pk }}">Add existing</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'util/popup.html' %}
{% endblock %}

{% block js %}
    <script src="{% static 'stories/js/stories.js' %}"></script>
{% endblock %}