{% load humanize %}

<article class="requirement block-line-half col-md-6 clear-2">
	<div class="background">
		<header class="article-header">
			<h2 class="header-medium secondary">Scenario {{ scenario.project_scenario_id }}#</h2>

			<div class="tooltip-container">
				<a href="#" class="open-tooltip-button" id="open-tooltip-button-1"><i class="icon icon-more-options"></i></a>
				<div class="custom-tooltip" id="custom-tooltip-1">
					<ul>
                        {% for story in scenario.get_all_stories %}
                            <li><a href="{{ story.get_absolute_url }}">#{{ story.project_story_id }} - {{ story.title }} ({{ story.get_story_type_display }})</a></li>
                        {% endfor %}
                        <li><a href="{{ scenario.get_create_story_url }}">Add story</a></li>
					</ul>
				</div>
			</div>
		</header>

		<div class="content data">
			<table>
				<tbody><tr class="row">
					<td class="col-xs-3">
						<i class="icon icon-edit"></i>
						<p>Created</p>
					</td>
					<td class="col-xs-9">
						<p><time datetime="{{ scenario.created|date:"d-m-Y" }}">{{ scenario.created|date:"d-m-Y" }}</time></p>
					</td>
				</tr>

				<tr class="row">
					<td class="col-xs-3">
						<i class="icon icon-time"></i>
						Last edited
					</td>
					<td class="col-xs-9">
						<p><time datetime="{{ scenario.updated|date:"d-m-Y" }}">{{ scenario.updated|date:"d-m-Y" }}</time></p>
					</td>
				</tr>

				<tr class="row">
					<td class="col-xs-3">
						<i class="icon icon-user"></i>
						<p>Owner</p>
					</td>
					<td class="col-xs-9">
						<p class="bold">{{ scenario.owner }}</p>
					</td>
				</tr>
			</tbody></table>
		</div>

        {% with persona=scenario.main_persona %}
            <div class="content user">
                <div class="vertical-align">
                    <div class="middle image-container" style="background-image: url({{ persona.get_avatar_url }});">
                    </div>

                    <div class="middle">
                        <p class="header-medium secondary">{{ persona.name }}</p>
                        <p class="meta big">{% if persona.is_public %}Public{% elif persona %}Private{% else %}No{% endif %} persona</p>
                        <p class="description">{{ persona.description }}</p>

                        {% with extra_personas_cnt=scenario.involved_personas.count|add:"-1" %}
                            {% if extra_personas_cnt > 0 %}
                                <a href="#"><p class="meta big">&amp; {{ extra_personas_cnt|apnumber }} more persona{% if extra_personas_cnt > 1 %}s{% endif %}</p></a>
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        {% endwith %}

		<footer>
			<a href="{{ scenario.get_absolute_url }}" class="btn">Show scenario</a>
		</footer>
	</div>
</article>
