<article class="scenario">
    <div class="row">
        <div class="col-xs-9">
            <a href="{{ scenario.get_absolute_url }}"><b>Scenario #{{ scenario.project_scenario_id }}</b></a><br />
            <b>Title</b>: {{ scenario.title }}<br />
        </div>
        <div class="col-xs-3 text-center">
            {% with persona=scenario.main_persona %}
                {% include 'util/persona-xs.html' %}
            {% endwith %}
        </div>
    </div>
    <div class="teaser-separator"></div>
    <div>
        <b>User stories: </b> {{ scenario.stories.count }} <i class="fa fa-angle-down toggle-stories"></i>
        <a class="pull-right btn btn-sm btn-transparent" href="{{ scenario.get_absolute_url }}">Open</a>
    </div>

    <div class="stories-list" style="display: none;">
        {% for story in scenario.get_all_stories %}
            <a href="{{ story.get_absolute_url }}">#{{ story.project_story_id }} - {{ story.title }} ({{ story.get_story_type_display }})</a><br/>
        {% endfor %}
        <a href="{{ scenario.get_create_story_url }}">Create new</a>
    </div>

</article>