/* Generic */
/*a:not(.btn):not(.btn-confirm):not(.btn-decline):not(.btn-download) {
    transition: color 0.3s ease-in-out;
}
a:not(.btn):not(.btn-confirm):not(.btn-decline):not(.btn-download):hover {
    text-decoration: underline;
}*/

.hidden {
    display: none;
}

aside .select-dropdown .select2 {
    width: 170px !important;
}

/* Fix for danger input buttons */
input.btn-danger {
    background-color: #d9534f;
    border-color: #d9534f;
}

input.btn-danger:focus, input.btn-danger.focus, input.btn-danger:active, input.btn-danger.active {
    background-color: #c9302c;
    border-color: #c12e2a;
}

input[type="submit"]:hover {
    background: #7d3c8c;
    transition: background 150ms cubic-bezier(0.785, 0.135, 0.15, 0.86), color 150ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

/* Menu */
.global-nav a:hover {
    color: #fff !important;
}

.global-nav li.profile > .vertical-align {
    min-width: 200px;
    text-align: right;
}

.global-nav li.profile .submenu .projects-title,
.global-nav li.profile .submenu .seperator {
    border-bottom: 1px solid rgba(177, 177, 177, 0.5);
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.global-nav li.profile .submenu .project-item span,
.global-nav li.profile .submenu .campaign-item span {
    font-size: 12px;
}

.global-nav li.profile .submenu li:not(.active) span {
    padding-left: 14px;
}

/* body > header .global-nav .container > ul li.profile:before {
    background: none;
} */

.menu-subpage li a {
    color: #ccc;
    text-decoration: none;
}

.menu-subpage li.active a {
    color: white;
}

.menu-subpage li a:hover {
    color: white !important;
}

/* Pages */
.public-page.not-container {
    padding-top: 0;
}

.pagination {
    text-align: center;
    display: block;
}

.pagination a {
    color: #ddd;
}

.pagination a:hover {
    color: white !important;
}

.endless_page_link, .endless_page_current {
    padding: 0 5px;
}

.chosen-container .search-field input {
    box-shadow: none !important;
}

.page-developer-dashboard-project-personas .persona-percentage-item.item-7 {
    background-color: #afa7b0;
    border-color: #afa7b0;
}

/* Anonymizer */
#test-console {
    width: 100%;
    height: 500px;
    background: #333;
    color: #fff;
    outline: none;
    font-family: 'Inconsolata';
}

/* Hide cookie consent */
div[role="dialog"][aria-label="cookieconsent"] {
    display: none !important;
}