/* Generic */
a:not(.btn):not(.btn-confirm):not(.btn-decline):not(.btn-download) {
    transition: color 0.3s ease-in-out;
}

a:not(.btn):not(.btn-confirm):not(.btn-decline):not(.btn-download):hover, a:not(.btn):not(.btn-confirm):not(.btn-decline):not(.btn-download):focus {
    color: #38173f;
}

.hidden {
    display: none;
}

/* Menu */
.global-nav a:hover {
    color: #fff !important;
}

.global-nav li.profile > .vertical-align {
    min-width: 200px;
    text-align: right;
}

.global-nav li.profile .submenu .projects-title,
.global-nav li.profile .submenu .seperator {
    border-bottom: 1px solid rgba(177, 177, 177, 0.5);
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.global-nav li.profile .submenu li:not(.active) a {
    padding-left: 20px;
}

/* Pages */
.public-page.not-container {
    padding-top: 0;
}

/* Anonymizer */
#test-console {
    width: 100%;
    height: 500px;
    background: #333;
    color: #fff;
    outline: none;
    font-family: 'Inconsolata';
}

/* Forms */
form p > * {
    vertical-align: top;
}

.column-form {
    background: #f8f3f3;
    padding: 10px;
    margin-bottom: 10px;
}

.column-form .errorlist {
    display: inline-block;
}

.column-form .remove-form {
    cursor: pointer;
}

.column-form .remove-form:hover {
    color: red;
}

.errorlist {
    color: red;
}

.action-container {
    margin: 10px 0;
}

.query-box {
    display: none;
}

.property-row {
    padding: 10px 0;
}

.remove-row {
    cursor: pointer;
    color: #aaa;
    display: inline-block;
    margin-left: 15px;
}

.persona-teaser {
    margin: 20px 0;
}

select.val-input {
    width: 170px;
}

.background-image {
    height: 150px;
    background-position: center;
}

.btn-refresh {
    border-radius: 5px 5px 0 0;
}

.public-project-overview-content > header.main-header {
    background-position: center;
}

input[type="checkbox"] {
    opacity: 1;
    position: static;
    left: auto;
    width: auto;
}

.persona-filters-form .option-container {
    display: inline-block;
    margin-right: 20px;
}

.comparison-select {
    width: 200px;
    padding: 0 5px;
    vertical-align: top;
}
.filter-value {
    width: 100%;
}
.filter-value.inline {
    width: auto;
    min-width: 250px;
}

.filter-row {
    margin: 20px 0;
}