{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta http-equiv="cleartype" content="on">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<title>{% block title %}Persona Builder{% endblock %} | CloudTeams</title>

		<link rel="apple-touch-icon" href="apple-touch-icon.png">
		<link rel="icon" href="{% static 'favicon.ico' %}">
		<link rel="stylesheet" href="{% static "css/jquery.switch-button.css" %}">

		<link rel="stylesheet" href="{% static "css/global-dev.css" %}?v=20160701.1">
		<link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" />
		<link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{% static "css/chosen.min.css" %}">
		<link rel="stylesheet" href="{% static "css/perfect-scrollbar.min.css" %}">
		<link rel="stylesheet" href="{% static "anonymizer/css/style.css" %}?v=20160920.1">
        <link rel="stylesheet" href="{% static "persona_builder/css/style.css" %}?v=20161230.1">
        <link rel="stylesheet" href="{% static "css/style.css" %}?v=20160701.1">
		{% block css %}
        {% endblock %}
	</head>

	<body>
		{% include "util/menu.html" %}

		<section class="page dashboard-page {% block section_class %}{% endblock %}{% if minimized_sidebar %} minimized{% endif %}">
            <div class="container">
                <div class="content">
                    <div class="row">
                        {% include "util/sidebar.html" %}

                        <main>
                            {% block content %}
                            {% endblock %}
                        </main>
                    </div>
                </div>
            </div>
		</section>

		{% include "util/footer.html" %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script type="text/javascript" src="{% static "js/global-dev.js" %}?v=20160701.1"></script>
		<script type="text/javascript" src="{% static "js/personas.js" %}"></script>
		<script type="text/javascript" src="{% static "js/jquery-ui.min.js" %}"></script>
		<script type="text/javascript" src="{% static "js/perfect-scrollbar.jquery.min.js" %}"></script>
		<script type="text/javascript" src="{% static "js/jquery.switch-button.js" %}"></script>
		<script type="text/javascript" src="{% static "js/base.js" %}"></script>

        <script>
            // sidebar project redirect
            // TODO fix

            var originalPid = $('#main-select-project-navigation').val();
            var projectSelectTimer = setInterval(function() {
                var pid = $('#main-select-project-navigation').val();
                if (pid !== originalPid) {
                    clearInterval(projectSelectTimer);
                    document.location = '{{ tp_url }}{{ request.session.dashboard_id }}?action=cloudteams.getswproject&object=' + pid + '&op=cloudteams.getstdb';
                }
            }, 500);
        </script>
		{% block js %}
		{% endblock %}
	</body>
</html>
