/* Forms & panels */
.panel {
    margin: 5px 0;
    padding: 10px;
}

.btn-sm {
    padding: 6px 15px;
}

.bg-white {
    background: white !important;
}

.bg-white,
.bg-white input,
.bg-white textarea{
    color: #333;
}

.bg-white h1,
.bg-white h2,
.bg-white h3,
.bg-white h4,
.bg-white h5,
.bg-white h6 {
    color: #444;
}

.bg-white a:not(.btn) {
    color: #1c699d;
}

.bg-white a:not(.btn):hover {
    color: #1c699d !important;
    text-decoration: underline;
}

.bg-white .errorlist {
    color: #e74c3c;
    background: white;
    padding: 5px 0;
}

.bg-white .errorlist > li{
    color: #e74c3c;
}

.underline {
    text-decoration: underline;
}

.margin-top-5 {
    margin-top: 25px;
}

.scenario-main-col {
    border-left: 1px solid #ccc;
    min-height: 500px;
}

.modal .modal-content {
    padding: 20px 0;
}

.teaser-separator {
    border-bottom: 1px solid rgba(125, 60, 140, 0.2);
    margin: 10px 0;
}

.persona-avatar {
    height: 50px !important;
    width: 50px;
    border-radius: 50%;
    background-size: cover;
    left: calc(50% - 25px);
    position: relative;
    border: 1px solid #d7d7d7;
}

/* Scenario teaser */

.bg-white .scenario a:not(.btn),
.bg-white .scenario a:not(.btn):hover {
    color: rgb(125, 60, 140) !important;
}

article.scenario {
    padding: 20px;
    border: 1px solid rgb(125, 60, 140);
    margin: 30px 0;
    border-radius: 5px;
}

article.scenario .fa.fa-angle-down {
    position: static;
    cursor: pointer;
}

article.scenario .fa.fa-angle-down:hover {
    color: rgb(125, 60, 140);
}

/* Add scenario button */
.add-scenario {
    border: none;
}

.add-scenario .header-small {
    color: #777;
}

.add-scenario:hover .header-small {
    color: white;
}

/* Story form */
#id_story_type > li {
    display: inline-block;
    padding-right: 20px;
}

#id_story_type > li input[type="radio"] {
    opacity: 1;
    position: static;
    left: auto;
    display: inline-block;
}

/* Stories */

.story-metric {
    font-size: 26px;
}

.state-info {
    border: 1px solid #999;
    padding: 10px 20px;
}
