        {% load staticfiles %}

        <footer id="footer" class="footer-dashboard-user">
			<div class="container">
				<div class="row">

					<div class="col-sm-3">
						<ul>
							<li><h2 class="header-small">About us</h2></li>
							<li><a href="https://www.cloudteams.eu/">How does it work?</a></li>
							<li><a href="">Contact us</a></li>
							<li><a href="https://www.cloudteams.eu/#partners">About CloudTeams</a></li>
							<li><a href="https://www.cloudteams.eu/news/">News</a></li>
							<!--<li><a href="" id="tutorial-btn-to-step-1" class="tutorial-button" data-toggle="modal" data-target="#popup-tutorial-user">Help tour</a></li>-->
							<li><a href="http://cloudteams.epu.ntua.gr:8008/terms-and-conditions/">Disclaimer</a></li>
						</ul>
					</div>

					<div class="col-sm-7">
						<div class="row">
							<ul class="col-xs-12">
								<li><h2 class="header-small">Projects</h2></li>
							</ul>
							<ul class="col-xs-3">


										<li><a href="http://cloudteams.epu.ntua.gr:8008/projects/?q=Business">Business</a></li>

										<li><a href="http://cloudteams.epu.ntua.gr:8008/projects/?q=Development">Development</a></li>

										<li><a href="http://cloudteams.epu.ntua.gr:8008/projects/?q=Education">Education</a></li>

										<li><a href="http://cloudteams.epu.ntua.gr:8008/projects/?q=Entertainment">Entertainment</a></li>

										<li><a href="http://cloudteams.epu.ntua.gr:8008/projects/?q=Finance">Finance</a></li>

										<li><a href="http://cloudteams.epu.ntua.gr:8008/projects/?q=Food%20%26%20Drink">Food &amp; Drink</a></li>

										<li><a href="http://cloudteams.epu.ntua.gr:8008/projects/?q=Games">Games</a></li>

										<li><a href="http://cloudteams.epu.ntua.gr:8008/projects/?q=Health%20%26%20Fitness">Health &amp; Fitness</a></li>


							</ul>
							<ul class="col-xs-3">


										<li><a href="http://cloudteams.epu.ntua.gr:8008/projects/?q=Lifestyle">Lifestyle</a></li>

										<li><a href="http://cloudteams.epu.ntua.gr:8008/projects/?q=Medical">Medical</a></li>

										<li><a href="http://cloudteams.epu.ntua.gr:8008/projects/?q=Music">Music</a></li>

										<li><a href="http://cloudteams.epu.ntua.gr:8008/projects/?q=Navigation">Navigation</a></li>

										<li><a href="http://cloudteams.epu.ntua.gr:8008/projects/?q=News">News</a></li>

										<li><a href="http://cloudteams.epu.ntua.gr:8008/projects/?q=Others">Others</a></li>

										<li><a href="http://cloudteams.epu.ntua.gr:8008/projects/?q=Photo%20%26%20Video">Photo &amp; Video</a></li>

										<li><a href="http://cloudteams.epu.ntua.gr:8008/projects/?q=Productivity">Productivity</a></li>


							</ul>
							<ul class="col-xs-3">


										<li><a href="http://cloudteams.epu.ntua.gr:8008/projects/?q=Reference">Reference</a></li>

										<li><a href="http://cloudteams.epu.ntua.gr:8008/projects/?q=Research">Research</a></li>

										<li><a href="http://cloudteams.epu.ntua.gr:8008/projects/?q=Social%20Networking">Social Networking</a></li>

										<li><a href="http://cloudteams.epu.ntua.gr:8008/projects/?q=Sports">Sports</a></li>

										<li><a href="http://cloudteams.epu.ntua.gr:8008/projects/?q=Travel">Travel</a></li>

										<li><a href="http://cloudteams.epu.ntua.gr:8008/projects/?q=Utilities">Utilities</a></li>

										<li><a href="http://cloudteams.epu.ntua.gr:8008/projects/?q=Weather">Weather</a></li>


							</ul>
						</div>
					</div>

					<div class="col-sm-2">
						<ul class="social-media">
							<li><h2 class="header-small">Connect</h2></li>
							<li><a href="https://twitter.com/CloudTeamsEU" alt="twitter"><i class="fa fa-twitter"></i></a></li>
							<li><a href="https://www.facebook.com/CloudTeamsEU/" alt="facebook"><i class="fa fa-facebook"></i></a></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="brand">
				<img src="{% static "img/logo-white.svg" %}" class="logo svg" alt="Cloudteams logo">
				<img src="{% static "img/eu-flag.svg" %}" class="logo svg" alt="EU logo" style="opacity:1.0;">
			</div>

			<div class="funding">
				This project has received funding from <em>The European Union's Framework Programme for Research and Innovation - Horizon 2020</em>, under Grant Agreement No: 644617. Action full title: 'Collaborative Software DevelopmentFramework based on Trusted, Secure Cloud-based Pool of Users'.
			</div>
	    </footer>