        {% load staticfiles %}

        <footer id="footer" class="footer-dashboard-user">
			<div class="container">
				<div class="row">

					<div class="col-sm-4">
						<ul>
							<li><h2 class="header-small">About us</h2></li>
							<li><a href="">How does it work?</a></li>
							<li><a href="">Contact us</a></li>
							<li><a href="">About CloudTeams</a></li>
							<li><a href="">News</a></li>
							<li><a href="" id="tutorial-btn-to-step-1" class="tutorial-button" data-toggle="modal" data-target="#popup-tutorial-user">Help tour</a></li>
							<li><a href="">Disclaimer</a></li>
						</ul>
					</div>

					<div class="col-sm-4">
						<div class="row">
							<ul class="col-xs-12">
								<li><h2 class="header-small">Projects</h2></li>
							</ul>

							<ul class="col-xs-6">
								<li><a href="">Art</a></li>
								<li><a href="">Business</a></li>
								<li><a href="">Design</a></li>
								<li><a href="">Film</a></li>
								<li><a href="">Food</a></li>
								<li><a href="">Games</a></li>
							</ul>

							<ul class="col-xs-6">
								<li><a href="">Journalism</a></li>
								<li><a href="">Music</a></li>
								<li><a href="">Photography</a></li>
								<li><a href="">Publishing</a></li>
								<li><a href="">Technology</a></li>
								<li><a href="">Sport</a></li>
							</ul>
						</div>
					</div>

					<div class="col-sm-4">
						<ul class="social-media">
							<li><h2 class="header-small">Connect</h2></li>
							<li><a href="" alt="twitter"><i class="fa fa-twitter"></i></a></li>
							<li><a href="" alt="facebook"><i class="fa fa-facebook"></i></a></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="brand">
				<img src="{% static "img/logo-white.svg" %}" class="logo svg" alt="Cloudteams logo">
			</div>
	    </footer>