        {% load staticfiles %}
		{% load bm_filters %}

		<header>
			<nav class="global-nav">
				<div class="container">
					<ul>
						<li class="brand">
							<div class="vertical-align">
								<div class="middle">
									<a href="{{ tp_url }}{{ request.session.dashboard_id }}?op=cloudteams.getstdb&action=cloudteams.myprojects" alt="home">
										<img src="{% static "img/logo-white.svg" %}" class="logo svg" alt="Cloudteams logo">
									</a>
								</div>
							</div>
						</li>

						<li class="search">
							<div class="vertical-align">
								<form class="project-search middle" action="/team-ideation-tools/personas/" method="GET">
									<input name="q" class="input-search" type="text" placeholder="Search projects" value="{{ q }}" autocomplete="false" />
									<i class="icon icon-search"></i>
								</form>
							</div>
						</li>

						<li class="profile">
							<div class="vertical-align">
								<div class="middle">
									<i class="icon icon-user"></i>
									<a href="#nowhere" data-user_id="{{ request.session.user_id }}">{{ request.session.full_name }}</a>

									<i class="fa fa-angle-down"></i>
								</div>
							</div>
							<ul class="submenu">
								<li>
                                    <a href="{{ tp_url }}{{ request.session.dashboard_id }}?op=cloudteams.getstdb&action=cloudteams.editdevprofile&object={{ request.session.user_id }}">
                                        <i class="icon icon-user"></i> Edit profile
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ tp_url }}{{ request.session.user_id }}?op=chpwd">
                                        <i class="icon icon-settings"></i> Change password
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ tp_url }}{{ request.session.user_id }}?op=login">
                                        <i class="icon icon-sign-out"></i> Log out
                                    </a>
                                </li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
		</header>