        {% load staticfiles %}

		<header>
			<nav class="global-nav">
				<div class="container">
					<ul>
						<li class="brand">
							<div class="vertical-align">
								<div class="middle">
									<a href="/persona-builder/personas/" alt="home">
										<img src="{% static "img/logo-white.svg" %}" class="logo svg" alt="Cloudteams logo">
									</a>
								</div>
							</div>
						</li>

						<li class="search">
							<div class="vertical-align">
								<form class="project-search middle" action="/persona-builder/personas/" method="GET">
									<input name="q" class="input-search" type="text" placeholder="Search personas" value="{{ q }}" autocomplete="false" />
									<img src="{% static "img/icons/icon-search.svg" %}" class="icon-search svg" alt="Search icon">
								</form>
							</div>
						</li>

						<li>
							<div class="vertical-align">
								<div class="middle">
									<a href="/persona-builder/personas/">
										<img class="icon menu-icon svg" src="{% static "img/icons/icon-profile.svg" %}">
										Personas
									</a>
								</div>
							</div>
						</li>

						<li class="profile">
							<div class="vertical-align">
								<div class="middle">
									<img class="icon menu-icon svg" src="{% static "img/icons/icon-profile.svg" %}">
									<a href="#nowhere">{{ request.session.username }}</a>

									<i class="fa fa-angle-down"></i>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</nav>
		</header>