<aside class="dashboard-side-menu dashboard-side-menu-extended">
	<header>
		<div class="vertical-align">
			<div class="middle hide-minimized">
				<h1 class="header-small">Dashboard</h1>
				<p class="page-subtitle minimize-sidepanel"><i class="icon icon-arrow-left"></i> Fold back</p>
			</div>
			<div class="middle show-minimized">
				<p class="page-subtitle minimize-sidepanel"><i class="icon icon-arrow-right"></i></p>
			</div>
		</div>
	</header>

	<div class="member">
		<div class="row">
			<div class="vertical-align">
				<div class="profile-picture col-xs-4 middle">
					<div class="img-circle" style="background-image: url('{{ tp_url }}{{ request.session.user_id }}?op=thumb&take_it=1&size=150')"></div>
				</div>

				<div class="information col-xs-8 middle hide-minimized">
					<ul>
						<li class="meta big">{{ request.session.full_name }}</li>
						<li><a href="{{ tp_url }}{{ request.session.dashboard_id }}?op=cloudteams.getstdb&action=cloudteams.editdevprofile&object={{ request.session.user_id }}">Edit profile</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<nav class="side-menu">
		<ul>
			<li class="projects">
				<a href="{{ all_projects_url }}">
					<i class="icon icon-project"></i>
					<span>Projects</span>
				</a>

				<ul class="side-menu-extended">

					<li class="select-dropdown hide-minimized">
						<select id="main-select-project-navigation" class="submenu select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                            {% for project in request.session.projects %}
                                <option{% if request.session.project_id == project.pid %} selected="selected"{% endif %}
                                    value="{{ project.pid }}"
                                >{{ project.title }}</option>
							{% endfor %}
						</select>
					</li>
					<div id="main-select-project-holder"></div>

					<li>
						<a href="{{ tp_url }}{{ request.session.project_id }}">
							<i class="icon icon-seen"></i>
							<span>Overview</span>
						</a>
					</li>

					<li>
						<a href="{{ tp_url }}{{ request.session.dashboard_id }}?op=cloudteams.getstdb&action=cloudteams.manageconnectors&object={{ request.session.project_id }}">
							<i class="icon icon-external-services"></i>
							<span>External services</span>
						</a>
					</li>

					<li>
						<a href="{{ tp_url }}{{ request.session.dashboard_id }}?op=cloudteams.getstdb&action=cloudteams.editsoftwareproject&object={{ request.session.project_id }}">
							<i class="icon icon-profile"></i>
							<span>Project profile</span>
						</a>
					</li>

					<li>
						<a href="{{ tp_url }}{{ request.session.dashboard_id }}?op=cloudteams.getstdb&action=cloudteams.managecampaigns&object={{ request.session.project_id }}">
							<i class="icon icon-campaign"></i>
							<span>Campaigns</span>
						</a>
					</li>

					<li>
						<a href="/team-ideation-tools/requirements-library/projects/{{ request.session.project_id }}/">
							<i class="icon icon-requirement"></i>
							<span>Requirements</span>
						</a>
					</li>

					<li class="hidden">
						<a href="/team-ideation-tools/personas/">
							<i class="icon icon-user"></i>
							<span>Personas</span>
						</a>
					</li>

                    <li>
						<a href="/team-ideation-tools/business-model/projects/{{ request.session.project_id }}/">
							<i class="icon icon-finance"></i>
							<span>Business model</span>
						</a>
					</li>

					<li>
						<a href="{{ tp_url }}{{ request.session.dashboard_id }}?op=cloudteams.getstdb&action=cloudteams.team&object={{ request.session.project_id }}">
							<i class="icon icon-team"></i>
							<span>Team</span>
						</a>
					</li>

					<li>
						<a href="{{ tp_url }}{{ request.session.dashboard_id }}?op=cloudteams.getstdb&action=cloudteams.manageprojectdocuments&object={{ request.session.project_id }}">
							<i class="icon icon-document"></i>
							<span>Documents</span>
						</a>
					</li>

                    <li>
						<a href="{{ tp_url }}{{ request.session.dashboard_id }}?op=cloudteams.getstdb&action=cloudteams.manageprojectblog&object={{ request.session.project_id }}">
							<i class="icon icon-blog"></i>
							<span>Blog</span>
						</a>
					</li>

                    <li>
						<a href="{{ tp_url }}{{ request.session.dashboard_id }}?op=cloudteams.getstdb&action=cloudteams.managerewards&object={{ request.session.project_id }}">
							<i class="icon icon-reward"></i>
							<span>Rewards</span>
						</a>
					</li>

					<li>
						<a href="{{ tp_url }}{{ request.session.dashboard_id }}?op=cloudteams.getstdb&action=cloudteams.manageprojectmessages&object={{ request.session.project_id }}">
							<i class="icon icon-message"></i>
							<span>Messages</span>
						</a>
					</li>

                    <li>
						<a href="{{ tp_url }}{{ request.session.dashboard_id }}?op=cloudteams.getstdb&action=cloudteams.customers&object={{ request.session.project_id }}">
							<i class="icon icon-invitation"></i>
							<span>Invitations</span>
						</a>
					</li>

					<li>
						<a href="{{ tp_url }}{{ request.session.dashboard_id }}?op=cloudteams.getstdb&action=cloudteams.manageprojectideas&object={{ request.session.project_id }}">
							<i class="icon icon-customer-idea"></i>
							<span>Customer ideas</span>
						</a>
					</li>

                    <li>
                        <a href="{{ tp_url }}{{ request.session.dashboard_id }}?op=cloudteams.getstdb&action=cloudteams.manageprojectactivities&object={{ request.session.project_id }}">
                            <i class="icon icon-activity"></i>
                            <span>Project activities</span>
                        </a>
                    </li>
				</ul>
			</li>

            <li>
				<a href="{{ tp_url }}{{ request.session.dashboard_id }}?op=cloudteams.getstdb&action=cloudteams.cloudcoins">
					<i class="icon icon-cloudcoins"></i>
					<span>CloudCoins</span>
				</a>
			</li>

			<li>
				<a href="{{ tp_url }}{{ request.session.dashboard_id }}?op=cloudteams.getstdb&action=cloudteams.activities">
					<i class="icon icon-activity"></i>
					<span>Activities</span>
				</a>
			</li>


            <li class="customer-segments" style="display: none;">
                <h6><i class="icon icon-user"></i> Pick a segment to add</h6>
                <ul>
                    <li>No personas found</li>
                </ul>
            </li>
		</ul>
	</nav>


</aside>