<div class="configuration-teaser">
    {{configuration.name}}

    <div class="content">
        {% if not configuration.is_active %}
            <form method="POST" action = '/anonymizer/connection/{{configuration.pk}}/set-active/' class="activation-form">
                {% csrf_token %}
                <input type="submit" value="Activate" />
            </form>
            |
        {% else %}
            <span class="already-active">✓ Active</span>|
        {% endif %}

        <a href="/anonymizer/connection/{{configuration.pk}}/console/">Query</a> |
        <a href="/anonymizer/connection/{{configuration.pk}}/select-columns/">Edit</a> |
        <a href="/anonymizer/connection/{{configuration.pk}}/delete/">Delete</a>
    </div>
</div>