<div class="configuration-teaser">
    {{configuration.name}}

    <div style="padding-left: 40px">
        {% if not configuration.is_active %}
            <form method="POST" action = '/anonymizer/connection/{{configuration.pk}}/set-active/' style="display: inline-block">
                {% csrf_token %}
                <input type="submit" class="btn btn-sm" value="Activate" /> |
            </form>
        {% else %}
            ✓ Active |
        {% endif %}

        <a href="/anonymizer/connection/{{configuration.pk}}/console/">Query</a> |
        <a href="/anonymizer/connection/{{configuration.pk}}/select-columns/">Edit</a> |
        <a href="/anonymizer/connection/{{configuration.pk}}/delete/">Delete</a>
    </div>
</div>