{% extends "base.html" %}

{% load endless %}
{% load static from staticfiles %}

{% load bm_filters %}

{% block title %}{{bmc.project_name}} - Business Models{% endblock %}
{% block section_class %}developer-dashboard-project-requirements-content{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "bm_canvas/css/sortable.min.css" %}">
    <link rel="stylesheet" href="{% static "bm_canvas/css/colorPicker.css" %}">
    <link rel="stylesheet" href="{% static "bm_canvas/css/simplemde.min.css" %}">
    <link rel="stylesheet" href="{% static "bm_canvas/css/style.css" %}?v=20160804.1">
{% endblock %}

{% block content %}
    <header class="main-header">
        <div class="vertical-align">
            <div class=" middle">
                <i class="icon icon-user"></i>
                <h1 class="header-large">Business Models</h1>
                <p class="header-medium secondary">{{ bmc.project_name }}</p>
            </div>
        </div>
    </header>

    <section id="developer-dashboard-project-business-model-canvas">
        <div id="bmc-clearfix"></div>
        <div id="business-model-canvas" data-project_id="{{ bmc.project_id }}" data-csrfmiddlewaretoken="{{ csrf_token }}">
            <div class="canvas-section row">
                {% with section_id="block-section-KP" position="left" box_style="rectangle" title="Key Partners" help="What uniquely strategic things does the business do to deliver its proposition?" entries=bmc|get_entries:"KP" %}
                    {% include 'bm_canvas/section.html' %}
                {% endwith %}

                {% with section_id="block-section-KA" position="right" box_style="square" title="Key Activities" help="What uniquely strategic things does the business do to deliver its proposition?" entries=bmc|get_entries:"KA" %}
                    {% include 'bm_canvas/section.html' %}
                {% endwith %}

                {% with section_id="block-section-KR" position="right" box_style="square" title="Key Resources" help="What uniquely strategic things does the business do to deliver its proposition?" entries=bmc|get_entries:"KR" %}
                    {% include 'bm_canvas/section.html' %}
                {% endwith %}
            </div>

            <div class="canvas-section row">
                {% with section_id="block-section-VP" position="right" box_style="rectangle" title="Value Proposition" help="What uniquely strategic things does the business do to deliver its proposition?" entries=bmc|get_entries:"VP" %}
                    {% include 'bm_canvas/section.html' %}
                {% endwith %}

                {% with section_id="block-section-CR" position="left" box_style="square" title="Customer Relationships" help="What uniquely strategic things does the business do to deliver its proposition?" entries=bmc|get_entries:"CR" %}
                    {% include 'bm_canvas/section.html' %}
                {% endwith %}

                {% with section_id="block-section-CH" position="left" box_style="square" title="Channels" help="What uniquely strategic things does the business do to deliver its proposition?" entries=bmc|get_entries:"CH" %}
                    {% include 'bm_canvas/section.html' %}
                {% endwith %}

                {% with section_id="block-section-CS" position="left" box_style="square" section_col_size="12" title="Customer Segments" help="What uniquely strategic things does the business do to deliver its proposition?" entries=bmc|get_entries:"CS" %}
                    {% include 'bm_canvas/section.html' %}
                {% endwith %}
            </div>

            <div class="canvas-section row">
                {% with section_id="block-section-C$" position="left" box_style="square" title="Cost Structure" help="What uniquely strategic things does the business do to deliver its proposition?" entries=bmc|get_entries:"C$" %}
                    {% include 'bm_canvas/section.html' %}
                {% endwith %}

                {%  with section_id="block-section-R$" position="left" box_style="square" title="Revenue Streams" help="What uniquely strategic things does the business do to deliver its proposition?" entries=bmc|get_entries:"R$" %}
                    {% include 'bm_canvas/section.html' %}
                {% endwith %}
            </div>
        </div>

        <div class="new-entry-template">
            <textarea></textarea>
            <div class="clearfix">
                <div class="add-entry pull-right">
                    <i class="fa fa-save"></i> Save
                </div>
                <div class="pull-right colorpicker">
                    <input type="text" name="new-entry-color" value="#ffffff" />
                    <label>Group</label>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script src="{% static "bm_canvas/js/jquery.colorPicker.min.js" %}"></script>
    <script src="{% static "bm_canvas/js/simplemde.min.js" %}"></script>
    <script src="{% static "bm_canvas/js/app.js" %}?v=20160804.1"></script>
{% endblock %}