{% load humanize %}
{% load bm_filters %}


<div class="row canvas-content-item entry" data-id="{{ entry.pk }}" data-order="{{ entry.order }}">
    <div class="col-md-12">
        <div class="row">
            <div class="block-container pull-left" title="{{ bmc|get_color_label:entry.group_color }}"><div style="background:{{ entry.group_color }};" class="color-block"></div></div>
            <div class="description pull-left"><strong>{{ entry.author }}</strong></div>
            <div class="tooltip-container pull-right">
                <span class="open-tooltip-button"><i class="icon icon-more-options"></i></span>
                <div class="custom-tooltip">
                    <ul>

                        <li><a class="edit-entry" href="">Edit</a></li>
                        <li><a class="remove-entry">Delete</a></li>
                    </ul>
                </div>
            </div>
            <div class="timing pull-right">{{ entry.created|naturaltime|mostsignificant }}</div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            <span class="hidden markdown-content">{{ entry.text }}</span>
            <div class="pull-left content rendered-output">{{ entry.text|markdown_to_html }}</div>
        </div>
    </div>
</div>