            <article class="business-model block-line-half col-md-6">
                <div class="background">
                    <header class="article-header">
                        <h2 class="header-medium secondary">{{ bmc.title }}</h2>

                        <div class="tooltip-container">
                            <a href="#nowhere" class="open-tooltip-button" id="open-tooltip-button-1"><i class="icon icon-more-options"></i></a>
                            <div class="custom-tooltip" id="custom-tooltip-1">
                                <ul>
                                    <li><a href="/team-ideation-tools/business-model/projects/{{ bmc.project_id }}/{{ bmc.pk }}/">Open canvas</a></li>
                                    <li><a href="" class="delete-canvas" data-canvas_id="{{ bmc.pk }}">Delete canvas</a></li>
                                </ul>
                            </div>
                        </div>
                    </header>
                    <section class="row status">
                        <div class="col-md-6">Status:</div>
                        <div class="col-md-6 bold text-right">Active</div>
                    </section>
                    <section class="colors">
                        {% for group in bmc.groups %}
                            <div class="row">
                                <div class="col-md-1 block-container">
                                    <div style="background:{{ group.group_color }}; {% if 'fff' in group.group_color %}border: 1px solid #999;{% endif %}"
                                         class="color-block"></div>
                                </div>
                                <div class="col-md-8 description">{{ group.label }}</div>
                                <div class="col-md-2 bold text-right">{{ group.cnt }}</div>
                            </div>
                        {% endfor %}
                    </section>
                    <footer>
                        <a href="/team-ideation-tools/business-model/projects/{{ bmc.project_id }}/{{ bmc.pk }}/" class="btn">Show business model</a>
                    </footer>
                </div>
            </article>