            <article class="business-model block-line-half col-md-6">
                <div class="background">
                    <header class="article-header">
                        <h2 class="header-medium secondary">{{ bmc.title }}</h2>
                    </header>
                    <section class="row status">
                        <div class="col-md-6">Status:</div>
                        <div class="col-md-6 bold text-right">Open</div>
                    </section>
                    <section class="colors">
                        {% for group in bmc.groups|slice:"3" %}
                            <div class="row">
                                <div class="col-md-1 block-container"><div style="background:{{ group.group_color }};" class="color-block"></div></div>
                                <div class="col-md-8 description">{{ group.label }}</div>
                                <div class="col-md-2 bold text-right">{{ group.cnt }}</div>
                            </div>
                        {% endfor %}
                    </section>
                    <footer>
                        <a href="/team-ideation-tools/business-model/projects/{{ bmc.project_id }}/{{ bmc.pk }}/" class="btn">Show business model</a>
                    </footer>
                </div>
            </article>