{% extends "base.html" %}

{% load endless %}
{% load static from staticfiles %}

{% load bm_filters %}

{% block title %}{{ project.project_name }} - Create a new story{% endblock %}
{% block section_class %}bg-white{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "stories/css/style.css" %}">
    <link rel="stylesheet" href="{% static "persona_builder/css/style.css" %}">
{% endblock %}

{% block content %}
    <h1>Create a new story</h1>

    <form class="row panel"
          action="{{ request.path }}" method="POST">{% csrf_token %}
        {{ form.as_p }}

        <div class="clearfix">
            <button type="submit" class="btn btn-primary pull-left"><i class="fa fa-save"></i> Save story</button>
            <a href="{{ project.get_absolute_url }}" class="btn btn-transparent pull-right">Cancel</a>
        </div>
    </form>
{% endblock %}