{% extends "base.html" %}

{% load endless %}
{% load static from staticfiles %}

{% load bm_filters %}

{% block title %}{{ project.project_name }} - Story details{% endblock %}
{% block section_class %}bg-white{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "stories/css/style.css" %}">
    <link rel="stylesheet" href="{% static "persona_builder/css/style.css" %}">
{% endblock %}

{% block content %}
    <div class="clerfix">
        <h1 class="pull-left">Story details - Story # {{ story.project_story_id }}</h1>
        <a href="{{ story.get_abolute_url }}edit/" class="btn btn-transparent btn-sm pull-right">Edit story</a>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="col-md-3">
                <h5>Related persona</h5>
                <div class="row">
                    {% with persona=story.persona%}
                        {% include 'util/persona-info.html' %}
                    {% endwith %}
                </div>

                <h5 class="margin-top-5">Info</h5>
                <p><span class="underline">Created:</span><br />
                    <span class="number">{{ story.created }}</span></p>
                <p><span class="underline">Last edited:</span><br />
                    <span class="number">{{ story.updated }}</span></p>
                <p><span class="underline">Owner:</span><br />
                    <span class="number">{{ story.owner }}</span></p>
            </div>

            <div class="col-md-6 scenario-main-col">
                <div class="row">
                    <div class="col-xs-3">
                        <b>ID</b>: #{{ story.project_story_id }}
                    </div>

                    <div class="col-xs-9">
                        <b>Type</b>: {{ story.get_story_type_display }}
                    </div>

                    <div class="col-xs-12">
                        <b>Title</b>: {{ story.title }}
                    </div>
                </div>

                <div class="teaser-separator"></div>

                <div class="row">
                    <div class="col-xs-12">
                        <p><b>As a:</b> {{ story.role }}</p>
                    </div>
                </div>

                <div class="row margin-top-5">
                    <div class="col-xs-12">
                        <p><b>I want to:</b><br />
                        {{ story.purpose }}</p>
                    </div>
                </div>

                <div class="row margin-top-5">
                    <div class="col-xs-12">
                        <p><b>So that:</b><br />
                        {{ story.target }}</p>
                    </div>
                </div>

                <div class="teaser-separator"></div>

                <div class="row">
                    <div class="col-xs-12">
                        <p><b>Acceptance criteria</b><br />
                        {{ story.acceptance_criteria|default:"No acceptance criteria" }}</p>
                    </div>
                </div>

                <div class="row margin-top-5">
                    <div class="col-xs-12">
                        <p><b>Comments</b><br />
                        {{ story.comments|default:"No comments available" }}</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="row">
                    <div class="col-xs-6">
                        <span>Priority</span>
                        <div class="text-center"><b class="story-metric">{{ story.priority }}</b></div>
                    </div>

                    <div class="col-xs-6">
                        <span>Estimate</span>
                        <div class="text-center"><b class="story-metric">{{ story.estimate }}d</b></div>
                    </div>
                </div>

                <div class="row margin-top-5">
                    <div class="col-xs-12">
                        <div class="state-info">
                            <b>State:</b> {{ story.get_state_display }}
                        </div>
                    </div>
                </div>

                <div class="row margin-top-5">
                    <div class="col-xs-12">
                        <h5>Related Scenarios ({{ story.scenarios.count }})</h5>
                        <p>
                            {% for scenario in story.scenarios.all %}
                                <a href="{{ scenario.get_absolute_url }}">#{{ scenario.project_scenario_id }} - {{ scenario.title }}</a><br/>
                            {% empty %}
                                Not assigned to any scenarios.
                            {% endfor %}
                        </p>

                        <div class="pull-right">
                            <a href="#"><i class="fa fa-plus-circle"></i> Add Scenario</a>
                        </div>
                    </div>
                </div>

                <div class="row margin-top-5">
                    <div class="col-xs-12">
                        <h5>Related User Stories</h5>
                        <p>
                            {% for st in related_stories %}
                                <a href="{{ st.get_absolute_url }}">#{{ st.project_story_id }} - {{ st.title }} ({{ st.get_story_type_display }})</a><br />
                            {% empty %}
                                No related stories.
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
