{% extends "base.html" %}

{% load endless %}
{% load static from staticfiles %}

{% load bm_filters %}

{% block title %}{{ project.project_name }} - Project Overview{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "stories/css/style.css" %}">
    <link rel="stylesheet" href="{% static "persona_builder/css/style.css" %}">
{% endblock %}

{% block section_class %}developer-dashboard-project-requirements-content{% endblock %}

{% block content %}
    <header class="main-header">
        <div class="vertical-align">
            <div class=" middle">
                <i class="icon icon-requirement"></i>
                <h1 class="header-large">Requirements</h1>
            </div>
        </div>
    </header>

    <section class="developer-dashboard-project-requirements-content">
        <div class="row">
            <article class="requirement add-item col-md-6" style="height: 390px;">
                <a href="{{ project.get_absolute_url}}add-scenario/">
                    <div class="background">
                        <div class="vertical-align">
                            <div class="middle">
                                <div class="add-project-button">
                                    <div class="vertical-align">
                                        <div class="middle">
                                            <i class="icon icon-plus"></i>
                                        </div>
                                    </div>
                                </div>
                                <h2 class="header-small secondary">Create new scenario</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </article>

            {% for scenario in scenarios %}
                {% include "scenarios/teaser.html" %}
            {% endfor %}
        </div>
    </section>
{% endblock %}

{% block js %}
    <script src="{% static 'stories/js/common-dev.js' %}"></script>
    <script src="{% static 'stories/js/stories.js' %}"></script>
{% endblock %}